@layer reset {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: content-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  [role="list"] {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
}

body {
  background-color: #111111;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-family: "Fira Sans", sans-serif;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Outfit", sans-serif;
  max-width: 1000px;
  border: 1px solid white;
  padding: 1rem;
  gap: 1rem;

  @media (max-width: 820px) {
    grid-template-columns: 1fr;
  }
}
.card.visible {
  opacity: 1;
  visibility: visible;
  text-align: center;
  font-size: 1.5rem;
  button {
    padding: 1rem;
  }
}
.resultsDiv {
  display: grid;
  justify-content: center;
  align-items: center;
}
img {
  object-fit: cover;
  min-height: 100%;
}
button {
  cursor: pointer;
}
.buttons-section {
  display: flex;
  justify-content: space-between;

  button {
    flex: 1;
    padding: 1rem;
    cursor: pointer;
    border: none;
    background-color: lightcyan;

    &:nth-child(2) {
      flex: 2;
      background-color: greenyellow;
    }
  }
}
.question {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 2rem;
  background-color: #212121;
}
.option {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  div {
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 1rem;
  }
}

.options {
  display: grid;
  gap: 1rem;
}

.options > div > :nth-child(2) {
  width: 90%;
  text-align: center;
}

.green{
  border: 2px solid green;
}